@use "../helpers" as *;

html {
	box-sizing: border-box;
	min-width: 360px;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

*:focus {
	outline: none;
}

body {
	color: var(--color-main);
	font-weight: 400;
	font-size: 16px;
	font-family: var(--font-primary), sans-serif;
	background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin-top: 0;
}

a {
	color: inherit;
}

img {
	max-width: 100%;
	height: auto;

	&.alignright {
		float: right;
		margin: 8px 0 8px 16px;
	}

	&.alignleft {
		float: left;
		margin: 8px 16px 8px 0;
	}

	&.aligncenter {
		display: block;
		margin: 8px auto;
	}
}

button {
	cursor: pointer;

	&:disabled {
		cursor: auto;
	}
}

input {

	&[type="submit"] {
		cursor: pointer;
	}

	&[type="number"] {
		appearance: textfield;

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			margin: 0;
			appearance: none;
		}
	}
}

textarea {
	resize: none;
}

figure {
	margin: 0;
}

object {
	pointer-events: none;
}

address {
	font-style: normal;
}

.hidden {
	display: none;
}

.clearfix {
	clear: both;
	overflow: auto;

	&::after {
		display: table;
		clear: both;
		content: "";
	}
}

.reset-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.loading {
	position: relative;

	&::before {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 2;
		background: url(assets/images/loading.svg) center no-repeat, rgba(#f6fbfc, 0.5);
		border-radius: inherit;
		content: "";
	}
}

.container {
	position: relative;
	max-width: 1140px;
	margin: 0 auto;
	@include laptop {
		max-width: 100%;
		margin-right: 0.75rem;
		margin-left: 0.75rem;
	}
}
