@font-face {
	font-weight: normal;
	font-family: FontName;
	font-style: normal;
	src:
		url(assets/fonts/FontName.woff2) format("woff2"),
		url(assets/fonts/FontName.woff) format("woff");
	font-display: swap;
}
