@mixin laptop {
  @media screen and (max-width: 1440px) {
    @content;
  }
}

@mixin laptop-sm {
  @media screen and (max-width: 1280px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin tablet-sm {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mob {
  @media screen and (max-width: 576px) {
    @content;
  }
}

@mixin from($min_width) {
  @media screen and (min-width: $min_width) {
    @content;
  }
}

@mixin to($max_width) {
  @media screen and (max-width: $max_width) {
    @content;
  }
}

@mixin from-to($min_width, $max_width) {
  @media screen and (min-width: $min_width) and (max-width: $max_width) {
    @content;
  }
}
